################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/FileContentIndex/e4b167c1-43cc-486e-8da3-5b39663d21d7.vsidx
/RestWithASPNETUdemy/.vs/RestWithASPNETUdemy/FileContentIndex
